# Docker image for the operator
image:
  registry: cr.l5d.io/linkerd
  name: failover
  tag: latest

# -- Determines which `TrafficSplit` instances to consider for failover. If
# empty, defaults to failover.linkerd.io/controlled-by={{ .Release.Name }}
selector:
