name: Actions

on:
  pull_request:
    paths:
      - .devcontainer/devcontainer.json
      - ".github/workflows/*"

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v43
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - run: just-dev check-action-images

  dev-images:
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v43
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - run: just-dev check-action-images
