name: Coverage

# Run weekly on Sunday at midnight (UTC).
on:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: read

jobs:
  rust:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: ghcr.io/linkerd/dev:v35-rust
      options: --security-opt seccomp=unconfined
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - run: cargo-tarpaulin tarpaulin --workspace --out Xml
      - uses: codecov/codecov-action@40a12dcee2df644d47232dde008099a3e9e4f865
        with:
          flags: unittests,rust
