name: Coverage

# Run weekly on Sunday at midnight (UTC).
on:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: read

jobs:
  rust:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: ghcr.io/linkerd/dev:v35-rust
      options: --security-opt seccomp=unconfined
    steps:
      - uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247
      - run: cargo-tarpaulin tarpaulin --workspace --out Xml
      - uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70
        with:
          flags: unittests,rust
