name: Coverage

# Run weekly on Sunday at midnight (UTC).
on:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: read

jobs:
  rust:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: ghcr.io/linkerd/dev:v41-rust
      options: --security-opt seccomp=unconfined
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - run: cargo-tarpaulin tarpaulin --workspace --out Xml
      - uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d
        with:
          flags: unittests,rust
