name: helm

on:
  pull_request:
    paths:
      - "charts/**"
      - .github/workflows/helm.yml

permissions:
  contents: read

jobs:
  helm-docs:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v43
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - run: helm-docs
      - run: git diff --exit-code

  helm-lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v43
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - run: helm lint charts/*
