name: helm

on:
  pull_request:
    paths:
      - "charts/**"
      - .github/workflows/helm.yml

permissions:
  contents: read

jobs:
  helm-docs-diff:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - run: bin/helm-docs-diff
      - name: Set up Helm
        uses: azure/setup-helm@a517f2ff6560563a369e16ca7c7d136b6164423f
      - name: Helm lint
        run: helm lint charts/*
