name: Integration tests
on:
  pull_request: {}
  push:
    paths-ignore:
    - '*.md'
    - '**/*.md'
    branches:
    - main
permissions:
  contents: read
env:
  DOCKER_REGISTRY: ghcr.io/linkerd
  ARCHIVES: /home/runner/archives

jobs:

  docker-build:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
    - name: Checkout code
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
    - name: Docker build
      uses: ./.github/actions/docker-build
      with:
        docker-registry: ${{ env.DOCKER_REGISTRY }}
        docker-tag: ${{ github.sha }}
        docker-target: linux-amd64
        component: failover
    - name: Create artifact with image
      run: |
        mkdir -p ${{ env.ARCHIVES }}
        docker save "${{ env.DOCKER_REGISTRY}}/failover:${{ github.sha }}" > ${{ env.ARCHIVES }}/failover.tar
    - name: Upload artifact
      uses: actions/upload-artifact@82c141cc518b40d92cc801eee768e7aafc9c2fa2
      with:
        name: image-archives
        path: ${{ env.ARCHIVES }}

  install-test:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    needs: [docker-build]
    steps:
    - name: Checkout code
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
    - name: Set up Helm
      uses: azure/setup-helm@a517f2ff6560563a369e16ca7c7d136b6164423f
    - name: Create cluster
      uses: AbsaOSS/k3d-action@5d155528f6d4a35f72c4cf3590e22fa0dde1e28a
      with:
        cluster-name: testing
    - name: Download image
      uses: actions/download-artifact@f023be2c48cc18debc3bacd34cb396e0295e2869
      with:
        name: image-archives
        path: image-archives
    - name: Load image
      run: docker load < image-archives/failover.tar
    - name: Import image
      run: k3d image import image-archives/failover.tar -c testing
    - name: Install linkerd
      run: |
        curl -sL https://run.linkerd.io/install-edge | sh
        export PATH=$PATH:~/.linkerd2/bin
        linkerd install | kubectl apply -f -
        linkerd check
    - name: Install linkerd-smi
      run: |
        helm repo add linkerd-smi https://linkerd.github.io/linkerd-smi
        helm repo up
        helm install linkerd-smi -n linkerd-smi --create-namespace --wait linkerd-smi/linkerd-smi
    - name: Install current linkerd-failover
      run: |
        helm install linkerd-failover -n linkerd-failover --create-namespace --wait \
          --set image.registry=${{ env.DOCKER_REGISTRY }} \
          --set image.tag=${{ github.sha }} \
          charts/linkerd-failover
    - name: Test routing to primary
      uses: ./.github/actions/failover-test
      with:
        west: true
        central: false
        east: false
    - name: Test failover to secondaries
      uses: ./.github/actions/failover-test
      with:
        west: false
        central: true
        east: true
    - name: Test removal of one secondary
      uses: ./.github/actions/failover-test
      with:
        west: false
        central: false
        east: true
    - name: Test reestablishment of primary
      uses: ./.github/actions/failover-test
      with:
        west: true
        central: false
        east: false
