name: Integration tests

# TODO(ver) the integration test cases should not be enumerated in the workflow,
# but invoked via a general test runner.

on: [pull_request]

permissions:
  contents: read

jobs:
  docker-build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - uses: linkerd/dev/actions/setup-tools@v41
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    - uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2
      with:
        path: target/buildx
        key: buildx-${{ runner.os }}-${{ github.sha }}
        restore-keys: buildx-${{ runner.os }}-
    - run: just controller-build-image
        --output type=docker
        --tag 'ghcr.io/linkerd/failover:git-${{ github.sha }}'
        --cache-from type=local,src=target/buildx
        --cache-to type=local,dest=target/buildx
    - run: just-dev prune-action-cache target/buildx
    - run: mkdir -p /tmp/images
    - run: docker save 'ghcr.io/linkerd/failover:git-${{ github.sha }}' --output /tmp/images/controller.tar
    - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808
      with:
        name: images
        path: /tmp/images

  install-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: [docker-build]
    steps:
    - uses: linkerd/dev/actions/setup-tools@v41
    - run: just-k3d create use
    - uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a
      with:
        name: images
        path: /tmp/images
    - run: just-k3d import /tmp/images/controller.tar

    - name: Install linkerd
      run: |
        curl -sL https://run.linkerd.io/install-edge | sh
        export PATH=$PATH:~/.linkerd2/bin
        linkerd install --crds | kubectl apply -f -
        linkerd install | kubectl apply -f -
        linkerd check
    - name: Install linkerd-smi
      run: |
        helm repo add linkerd-smi https://linkerd.github.io/linkerd-smi
        helm repo up
        helm install linkerd-smi -n linkerd-smi --create-namespace --wait linkerd-smi/linkerd-smi
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    - name: Install current linkerd-failover
      run: |
        helm install linkerd-failover -n linkerd-failover --create-namespace --wait \
          --set image.registry=ghcr.io/linkerd \
          --set image.tag=git-${{ github.sha }} \
          charts/linkerd-failover

    - name: Test routing to primary
      uses: ./.github/actions/failover-test
      with:
        westReplicas: 1
        westShouldReceiveTraffic: true
        centralReplicas: 1
        centralShouldReceiveTraffic: false
        eastReplicas: 1
        eastShouldReceiveTraffic: false
    - name: Test failover to secondaries
      uses: ./.github/actions/failover-test
      with:
        westReplicas: 0
        westShouldReceiveTraffic: false
        centralReplicas: 1
        centralShouldReceiveTraffic: true
        eastReplicas: 1
        eastShouldReceiveTraffic: true
    - name: Test removal of one secondary
      uses: ./.github/actions/failover-test
      with:
        westReplicas: 0
        westShouldReceiveTraffic: false
        centralReplicas: 0
        centralShouldReceiveTraffic: false
        eastReplicas: 1
        eastShouldReceiveTraffic: true
    - name: Test reestablishment of primary
      uses: ./.github/actions/failover-test
      with:
        westReplicas: 1
        westShouldReceiveTraffic: true
        centralReplicas: 0
        centralShouldReceiveTraffic: false
        eastReplicas: 1
        eastShouldReceiveTraffic: false
