name: test

on:
   pull_request:
     paths:
       - rust-toolchain
       - '**/*.rs'
       - Cargo.lock
       - .github/workflows/test.yml

permissions:
   contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v35-rust
    steps:
      - uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247
      - run: just-cargo fetch --locked
      - run: just-cargo test-build --frozen --workspace
      - run: just-cargo test --frozen --workspace

  cli-build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v35-rust-musl
    steps:
    - uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247
    - run: just fetch
    - run: just profile=debug static=true target=x86_64-unknown-linux-musl cli-build
    - run: mv "$(just --evaluate profile=debug target=x86_64-unknown-linux-musl cli-bin)" linkerd-failover-linux-amd64
    - run: ls -lh linkerd-failover-linux-amd64
